* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    
    background-image: url('../img/metal_textures_silver_1680x1050_wallpaper_Wallpaper_1280x1024_www.wallpaperswa.com.jpg ');

    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    text-transform:uppercase;
    width:100%;
}

/* Portrait layout (default) */
.app {
    background:url(../img/logo.png) no-repeat center top; /* 170px x 200px */
    position:absolute;             /* position in the center of the screen */
    left:50%;
    top:50%;
    height:50px;                   /* text area height */
    width:225px;                   /* text area width */
    text-align:center;
    padding:180px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
    margin:-115px 0px 0px -112px;  /* offset vertical: half of image height and text area height */
                                   /* offset horizontal: half of text area width */
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_container {
    position:absolute;
    left:0px;
    top:0px;
    width:320px;
    height:548px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:554px;
}

.u1 {
    position:absolute;
    left:2px;
    top:266px;
    width:316px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_container {
    position:absolute;
    left:0px;
    top:66px;
    width:320px;
    height:386px;
}

#u2_img {
    position:absolute;
    left:0px;
    top:0px;
    width:320px;
    height:386px;
}

.u3 {
    position:absolute;
    left:2px;
    top:185px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../img/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:0px;
    top:456px;
    width:320px;
    height:92px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:98px;
}

.u5 {
    position:absolute;
    left:2px;
    top:38px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:102px;
    top:20px;
    width:115px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7_normal {
    background-image: url('../img/u7_normal.png');
}

.u7_container {
    position:absolute;
    left:0px;
    top:452px;
    width:320px;
    height:38px;
}

#u7_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:44px;
}

.u8 {
    position:absolute;
    left:2px;
    top:11px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9 {
    position:absolute;
    left:255px;
    top:462px;
    width:49px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10 {
    position:absolute;
    left:0px;
    top:460px;
    width:232px;
    height:23px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11_normal {
    background-image: url('../img/u11_normal.png');
}

.u11_container {
    position:absolute;
    left:227px;
    top:461px;
    width:20px;
    height:20px;
}

#u11_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:26px;
    height:26px;
}

.u12 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13_normal {
    background-image: url('../img/u13_normal.png');
}

.u13_container {
    position:absolute;
    left:0px;
    top:0px;
    width:320px;
    height:40px;
}

#u13_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:46px;
}

.u14 {
    position:absolute;
    left:2px;
    top:12px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15_normal {
    background-image: url('../img/u15_normal.png');
}

.u15_container {
    position:absolute;
    left:0px;
    top:39px;
    width:320px;
    height:27px;
}

#u15_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:33px;
}

.u16 {
    position:absolute;
    left:2px;
    top:6px;
    width:316px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17_normal {
    background-image: url('../img/u17_normal.png');
}

.u17_container {
    position:absolute;
    left:9px;
    top:8px;
    width:33px;
    height:28px;
}

#u17_img {
    position:absolute;
    left:0px;
    top:0px;
    width:33px;
    height:28px;
}

.u18 {
    position:absolute;
    left:2px;
    top:6px;
    width:29px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19_normal {
    background-image: url('../img/u19_normal.png');
}

.u19_container {
    position:absolute;
    left:126px;
    top:219px;
    width:68px;
    height:68px;
}

#u19_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:74px;
    height:74px;
}

.u20 {
    position:absolute;
    left:2px;
    top:50px;
    width:64px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21_normal {
    background-image: url('../img/u19_normal.png');
}

.u21_container {
    position:absolute;
    left:29px;
    top:316px;
    width:68px;
    height:68px;
}

#u21_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:74px;
    height:74px;
}

.u22 {
    position:absolute;
    left:2px;
    top:50px;
    width:64px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23_normal {
    background-image: url('../img/u19_normal.png');
}

.u23_container {
    position:absolute;
    left:223px;
    top:316px;
    width:68px;
    height:68px;
}

#u23_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:74px;
    height:74px;
}

.u24 {
    position:absolute;
    left:2px;
    top:50px;
    width:64px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25_normal {
    background-image: url('../img/u19_normal.png');
}

.u25_container {
    position:absolute;
    left:223px;
    top:123px;
    width:68px;
    height:68px;
}

#u25_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:74px;
    height:74px;
}

.u26 {
    position:absolute;
    left:2px;
    top:50px;
    width:64px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27_normal {
    background-image: url('../img/u19_normal.png');
}

.u27_container {
    position:absolute;
    left:29px;
    top:123px;
    width:68px;
    height:68px;
}

#u27_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:74px;
    height:74px;
}

.u28 {
    position:absolute;
    left:2px;
    top:50px;
    width:64px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29_normal {
    background-image: url('../img/u29_normal.png');
}

.u29_container {
    position:absolute;
    left:130px;
    top:223px;
    width:60px;
    height:60px;
}

#u29_img {
    position:absolute;
    left:0px;
    top:0px;
    width:60px;
    height:60px;
}

.u30 {
    position:absolute;
    left:2px;
    top:22px;
    width:56px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31_normal {
    background-image: url('../img/u31_normal.png');
}

.u31_container {
    position:absolute;
    left:227px;
    top:127px;
    width:60px;
    height:60px;
}

#u31_img {
    position:absolute;
    left:0px;
    top:0px;
    width:60px;
    height:60px;
}

.u32 {
    position:absolute;
    left:2px;
    top:22px;
    width:56px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33_normal {
    background-image: url('../img/u33_normal.png');
}

.u33_container {
    position:absolute;
    left:33px;
    top:320px;
    width:60px;
    height:60px;
}

#u33_img {
    position:absolute;
    left:0px;
    top:0px;
    width:60px;
    height:60px;
}

.u34 {
    position:absolute;
    left:2px;
    top:22px;
    width:56px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35_normal {
    background-image: url('../img/u35_normal.png');
}

.u35_container {
    position:absolute;
    left:227px;
    top:320px;
    width:60px;
    height:60px;
}

#u35_img {
    position:absolute;
    left:0px;
    top:0px;
    width:60px;
    height:60px;
}

.u36 {
    position:absolute;
    left:2px;
    top:22px;
    width:56px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37 {
    position:absolute;
    left:223px;
    top:191px;
    width:68px;
    height:11px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38 {
    position:absolute;
    left:126px;
    top:287px;
    width:68px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39 {
    position:absolute;
    left:29px;
    top:384px;
    width:68px;
    height:11px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40 {
    position:absolute;
    left:223px;
    top:384px;
    width:68px;
    height:11px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41 {
    position:absolute;
    left:29px;
    top:191px;
    width:68px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42_normal {
    background-image: url('../img/u42_normal.png');
}

.u42_container {
    position:absolute;
    left:33px;
    top:127px;
    width:60px;
    height:60px;
}

#u42_img {
    position:absolute;
    left:0px;
    top:0px;
    width:60px;
    height:60px;
}

.u43 {
    position:absolute;
    left:2px;
    top:22px;
    width:56px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44_normal {
    background-image: url('../img/u44_normal.png');
}

.u44_container {
    position:absolute;
    left:60px;
    top:2px;
    width:200px;
    height:35px;
}

#u44_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:206px;
    height:41px;
}

.u45 {
    position:absolute;
    left:2px;
    top:-4px;
    width:196px;
    height:43px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46_normal {
    background-image: url('../img/u46_normal.png');
}

.u46_container {
    position:absolute;
    left:272px;
    top:4px;
    width:42px;
    height:35px;
}

#u46_img {
    position:absolute;
    left:0px;
    top:0px;
    width:42px;
    height:35px;
}

.u47 {
    position:absolute;
    left:2px;
    top:10px;
    width:38px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48_container {
    position:absolute;
    left:82px;
    top:500px;
    width:156px;
    height:41px;
}

#u48_img {
    position:absolute;
    left:0px;
    top:0px;
    width:156px;
    height:41px;
}

.u49 {
    position:absolute;
    left:2px;
    top:12px;
    width:152px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

